.root {
  padding: "2px 4px";
  display: grid;
  grid-template-columns: 8fr 0.01fr 1fr;
  align-items: "center";
  width: 100%;
}

.form {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.input {
  margin-left: 20px;
  flex: 1;
}
.iconButton {
  padding: 10;
}
.divider {
  height: 28px;
  margin: 2rem;
}

.local-weather {
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.myTypist {
  margin-bottom: 2rem;
}
