.root {
  max-width: 80%;
  /* border: dotted; */
}

.search-bar {
  text-align: center;
}

.paper {
  padding: "2px 4px";
  display: grid;
  grid-template-columns: 8fr 0.01fr 1fr;
  width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

.form {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.input {
  margin-left: 20px;
  flex: 1;
}
.iconButton {
  padding: 10;
  border-bottom: 3px solid #282c34;
}

.local-weather {
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* margin-left: 5%; */
  /* margin-right: 5%; */
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.streetAddress {
  text-align: start;
  padding: 0.25rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  color: gray;
}

.forecast {
  text-align: start;
}

.weeklyForecast {
  text-align: start;
  font-size: small;
  padding-top: 1rem;
}

.userLocation {
  align-content: flex-start;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.temp {
  font-size: 1rem;
  border-bottom: 3px solid #282c34;
}

.myTypist {
  margin-bottom: 2rem;
}

.weeklyIcons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-top: 1rem;
}

.icon1 {
  margin-left: 2rem;
}
